.view-machines-page {
    padding: 20px;
}

.view-machines-top-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.view-machines-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.view-machines-button:hover {
    background-color: #45a049;
}

.view-machines-filter {
    padding: 15px 20px; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 16px; 
    height: auto; 
    cursor: pointer; 
    margin-right: 10px; 
}

.view-machines-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
}

.view-machines-content {
    margin-top: 20px;
}

.view-machines-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.view-machines-table th, .view-machines-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.view-machines-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.view-machines-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.view-machines-table tr:hover {
    background-color: #f1f1f1;
}

.pagination {
    display: flex;
    justify-content: center; /* Centers the pagination controls horizontally */
    align-items: center;
    margin-top: 20px; /* Adds space between the table and pagination */
    position: relative;
    bottom: -50px; /* Moves the pagination lower */
}

.pagination-button {
    padding: 10px 20px;
    margin: 0 5px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}